.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.list {
  width: 50vw;
}

.list-item {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: start;
}
